<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <a href="/drinks">Back to Index</a>
    <h1>At foo bar</h1>
    <style type="text/css">
        body {
          color: rgb(171, 105, 6);
          background-color: rgb(165, 48, 122);
        }
      </style>
      <h2><%"drinks.name/drinks.js" %></h2>
      <img src= "<%=drink.image%>.jpg">
      <h3><% "drinks.price/drinks.js/" %></h3>
      <a>'back'</a>

    
  </body>
</html>

