<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <a href="/drinks">Back to Index</a>
    <h1>Welcome to gitPub</h1>
    <style type="text/css">
        body {
          color: rgb(171, 105, 6);
          background-color: rgb(165, 48, 122);
        }
      </style>
    <ul>
      <% for(let i = 0; i <allDrinks.length; i++) { %>
      <li>
        <a href="/drinks/<%=i%>"><%=allDrinks[i].name %></a>
      </li>
      <% } %>
    </ul>
  </body>
</html>

